@model Taller_EquiposFutbol2.Models.Equipo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitulosEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitulosEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmiteExtranjeros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmiteExtranjeros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEquipo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
